{% extends "layout.njk" %}

{% block content %}
    <form class="card" method="POST" action="/professores" >
        <section class="avatar" style= "background: url(https://source.unsplash.com/collection/8874679/500x500) no-repeat center center / cover;">

        </section>
        <section class="details">
            <h3>Novo Professor</h3>
            <div class="item">
                <div>Foto de Perfil</div>
                <input type="url" name="avatar_url" placeholder="http//" />
            </div>
            <div class="item">
                <div>Nome</div>
                <input type="txt" name="name" placeholder="Nome do professor" />
            </div>
            <div class="item">
                <div>Data de Nascimento</div>
                <input type="date" name="birth" />
            </div>
            <div class="item">
                <div>Grau de Escolaridade</div>
                <select name="escolaridade">
                    <option value="EMC" >Ensino Médio Completo</option>
                    <option value="ESC" >Ensino Superior Completo</option>
                    <option value="MES" >Mestrado</option>
                    <option value="Dr" >Doutorado</option>
                </select>
            </div>
            <div class="item">
                <div>Tipo de Aula</div>
                <span><input type="radio" value="present" name="tipo_aula"/>Presencial</span>
                <span><input type="radio" value="conference" name="tipo_aula" checked />À distância</span>
            </div>
            <div class="item">
                <div>Área de atuação</div>
                <input type="text" name="atuacao" placeholder="Física, Química, Biologia"/>
            </div>
            <button type="submit">Salvar</button>
        </section>
    </form>
{% endblock content %}