            <div class="item">
                <div>Foto de Perfil</div>
                <input 
                    type="url" 
                    name="avatar_url" 
                    placeholder="http//" 
                    value="{{professor.avatar_url}}"
                />
            </div>
            <div class="item">
                <div>Nome</div>
                <input 
                    type="txt" 
                    name="name" 
                    placeholder="Nome do professor" 
                    value="{{professor.name}}"
                />
            </div>
            <div class="item">
                <div>Data de Nascimento</div>
                <input 
                    type="date" 
                    name="birth" 
                    value="{{professor.birth}}"
                />
            </div>
            <div class="item">
                <div>Grau de Escolaridade</div>
                <select name="education_level">
                    
                    <option 
                        value="EMC" 
                        {% if professor.education_level == EMC %}
                            selected
                        {% endif %}
                    >
                    Ensino Médio Completo
                    </option>
                    
                    <option 
                        value="ESC" 
                        {% if professor.education_level == "ESC" %}
                            selected
                        {% endif %}
                    >
                    Ensino Superior Completo
                    </option>
                    
                    <option 
                        value="MES" 
                        {% if professor.education_level == "MES" %}
                            selected
                        {% endif %}
                    >
                    Mestrado
                    </option>
                    <option 
                        value="Dr" 
                        {% if professor.education_level == "Dr" %}
                            selected
                        {% endif %}
                    >
                    Doutorado
                    </option>
                    
                </select>
            </div>
            <div class="item">
                <div>Tipo de Aula</div>
                <span>
                    <input 
                        type="radio" 
                        value="Presencial" 
                        name="class_type"
                        {% if professor.class_type == "Presencial" %}
				            checked
			            {% endif %}
                        checked
                    />
                    Presencial
                </span>
                <span>
                    <input 
                        type="radio" 
                        value="À distância" 
                        name="class_type" 
                        {% if professor.class_type == "À distância" %}
				            checked
			            {% endif %}
                    />
                    À distância
                </span>
            </div>
            <div class="item">
                <div>Área de atuação</div>
                <input 
                    type="text" 
                    name="subjects_taught" 
                    placeholder="Escreva aqui suas competências separadas por vírgula"
                    value="{{professor.subjects_taught}}"
                />
            </div>
            <button type="submit">Salvar</button>