            <div class="item">
                <div>Foto de Perfil</div>
                <input 
                    type="url" 
                    name="avatar_url" 
                    placeholder="http//" 
                    value="{{student.avatar_url}}"
                />
            </div>
            <div class="item">
                <div>Nome</div>
                <input 
                    type="txt" 
                    name="name" 
                    value="{{student.name}}"
                />
            </div>
            <div class="item">
                <div>E-mail</div>
                <input 
                    type="email" 
                    name="email" 
                    value="{{student.email}}"
                />
            </div>
            <div class="item">
                <div>Data de Nascimento</div>
                <input 
                    type="date" 
                    name="birth" 
                    value="{{student.birth}}"
                />
            </div>
            <div class="item">
                <div>Grau de Escolaridade</div>
                <select name="education_level">
                    
                    <option 
                        value="ano5" 
                        {% if student.education_level == "ano5" %}
                            selected
                        {% endif %}
                    >
                    5° Ano do Ensino fundamental
                    </option>
                    
                    <option 
                        value="ano6" 
                        {% if student.education_level == "ano6" %}
                            selected
                        {% endif %}
                    >
                    6° Ano do Ensino fundamental
                    </option>
                    
                    <option 
                        value="ano7" 
                        {% if student.education_level == "ano7" %}
                            selected
                        {% endif %}
                    >
                    7° Ano do Ensino fundamental
                    </option>
                    <option 
                        value="ano8" 
                        {% if student.education_level == "ano8" %}
                            selected
                        {% endif %}
                    >
                    8° Ano do Ensino fundamental
                    </option>
                    <option 
                        value="ano9" 
                        {% if student.education_level == "ano9" %}
                            selected
                        {% endif %}
                    >
                    9° Ano do Ensino fundamental
                    </option>
                    <option 
                        value="medio1" 
                        {% if student.education_level == "medio1" %}
                            selected
                        {% endif %}
                    >
                    1° Ano do Ensino Médio
                    </option>
                    <option 
                        value="medio2" 
                        {% if student.education_level == "medio2" %}
                            selected
                        {% endif %}
                    >
                    2° Ano do Ensino Médio
                    </option>
                    <option 
                        value="medio3" 
                        {% if student.education_level == "medio3" %}
                            selected
                        {% endif %}
                    >
                    3° Ano do Ensino Médio
                    </option>
                    
                </select>
            </div>
            <div class="item">
                <div>Carga Horária Semanal (horas)</div>	
				<div>
					<input
						type="number"
						name="workload"
						value="{{ student.workload }}"
					/>
				</div>
            </div>
            <div class="item">
                <div>Competências Desejadas</div>
                <input
                    class="placeholder"
                    type="text" 
                    name="desired_skills" 
                    placeholder="Escreva aqui as competências que deseja estudar separadas por vírgula"
                    value="{{student.desired_skills}}"
                />
            </div>
            <div class="item">
                <div>Professor</div>
                <div>
                    <select name="professor">
                        {% for teacher in teacherOptions%}
                            <option value="{{teacher.id}}" 
                                    {% if student.teacher_id == teacher.id %}
                                        selected
                                    {% endif %}>
                                {{teacher.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit">Salvar</button>