{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <a href="/students/create">Novo</a>
        <table width="100%">
            <thead class="student">
                <tr>
                    <th>Nome Completo</th>
                    <th>E-mail</th>
                    <th>Ano Escolar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td> <span style="background-image: url({{student.avatar_url}})"></span>{{student.name}} </td>
                    <td> {{student.email}} </td>
                    <td> 
                        {% if student.education_level == "ano5" %}
                            5° Ano do Ensino fundamental
                        {% endif %}
                        {% if student.education_level == "ano6" %}
                            6° Ano do Ensino fundamental
                        {% endif%}
                        {% if student.education_level == "ano7" %}
                            7° Ano do Ensino fundamental
                        {% endif%}
                        {% if student.education_level == "ano8" %}
                            8° Ano do Ensino fundamental
                        {% endif%}
                        {% if student.education_level == "ano9" %}
                            9° Ano do Ensino fundamental
                        {% endif%}
                        {% if student.education_level == "medio1" %}
                            1° Ano do Ensino Médio
                        {% endif%}
                        {% if student.education_level == "medio2" %}
                            2° Ano do Ensino Médio
                        {% endif%}
                        {% if student.education_level == "medio1" %}
                            3° Ano do Ensino Médio
                        {% endif%}

                     </td>    
                    <td> <a href="estudantes/{{ student.id }}">Ver</a></td>
                </tr>
                {% endfor %}
            </tbody>    
        </table>
    </div>
{% endblock content %}