{% extends 'layout.njk' %}

{% block content %}
    <img src="https://img1.gratispng.com/20180411/pte/kisspng-youtube-facebook-like-button-emoticon-thumbs-up-5aceb535d3f8d6.7288283715234962458683.jpg" alt="">
{% endblock content %}